<nav>
    <div class="nav_container">
        <div class="box-link">
            <a href='/dashboard/{{username}}'><img class='logo' src='/images/logo.svg' alt='logo' /></a>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg7.svg' alt='iconHome' />
            <h3>Accueil</h3>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg8.svg' alt='iconHome' />
            <h3>Explorer</h3>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg9.svg' alt='iconHome' />
            <h3>Notifications</h3>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg10.svg' alt='iconHome' />
            <h3>Messages</h3>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg11.svg' alt='iconHome' />
            <h3>Signets</h3>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg12.svg' alt='iconHome' />
            <h3>Listes</h3>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg13.svg' alt='iconHome' />
            <h3>Profil</h3>
        </div>
        <div class='box-link linkhover'>
            <img class="icon" src='/images/icons_navbar/svg14.svg' alt='iconHome' />
            <h3>Plus</h3>
        </div>
        <button type="submit">Tweeter</button>
        {{!-- <a href="/logout"><button type='submit' class="btn-logout">Logout</button></a> --}}
    </div>
    <div class="account">
        <img class="img_profile"src="/images/icons_navbar/profile.png" alt='profileImg' />
        <a href="/logout"><div class="account-infos">
            <h5>{{firstname}} {{lastname}} </h5>
            <h6>@{{username}}</h6>
        </div></a>
        <img class='icon_arrow' src='/images/icons_navbar/svg16.svg' alt='icon' />
    </div>
</nav>