<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Twitter. C'est ce qui se passe dans le monde</title>
    <link rel='stylesheet' href='{{style}}' />
    <link rel="icon" type="image/png" href="/images/logo.png" />
</head>
<body>
 
    {{{body}}}
    
</body>
</html>