<div class='container'>
{{> nav}}
    <div class='tweetListContainer'>
        <div class='heading'>
            <h1>Accueil</h1>
        </div>
    </div>
    <div class='boxSearch'>
        <div class="box-suggestions">
            <div class="heading heading-suggestions">
                <h1>Suggestions</h1>
            </div>
            <div class="user">
                {{!-- {{#each usersSugesstions}}
                <h1>{{this.username}}</h1>
                {{/each}} --}}
            </div>
        </div>
    </div>
</div>