<div class='container'>
{{> nav}}
<div class='tweetListContainer'>
    <div class='heading'>
        <h3>Accueil</h3>
        {{#each array}}
        <h1>{{this}}</h1>
        {{/each}}
    </div>
</div>
</div>
