<div class='container'>
    <div class="side-left"></div>
    <div class="side-right">
        <form method='POST' action='/'>
            <input type='email' name='email' placeholder='Téléphone, email ou nom ...' />
            <input type='password' name='password' placeholder='Mot de passe' />
            <button type='submit' class="btn-connectUp">Se connecter</button>
        </form>
        <div class="box-join">
            <img src="/images/logo.svg" alt='logo'/>
            <h1>Voir ce qui se passe<br> actuellement dans le monde</h1>
            <h3>Rejoignez Twitter dès aujourd'hui.</h3>
            <a href="/signup"><button type='submit' class="btn-signup">S'inscrire</button></a>
            <a href="/login"><button type='submit' class="btn-login">Se connecter</button></a>
        </div>
    </div>
</div>