<div class='container'>
    <div class="side-left"></div>
    <div class="side-right">
        <img src="/images/logo.svg" alt='logo'/>
        <h3>Se connecter à Twitter</h3>
        <form>
            <input type='email' placeholder='Téléphone, email ou nom ...' />
            <input type='password' placeholder='Mot de passe' />
            <button type='submit' class="btn-connectUp">Se connecter</button>
        </form>
        <a href="/signup"><button type='submit' class="btn-signup">S'inscrire</button></a>
    </div>
</div>