<div class='container'>
    <div class="side-left"></div>
    <div class="side-right"><img src="/images/logo.svg" alt='logo'/>
        <h3>Se connecter à Twitter</h3>

        {{#if messages.error}}
            <h3 class="error">{{ messages.error }}</h3>
        {{/if}}
        
        
        <form method='POST' action='/login'>
            <input type='text' name="email" placeholder='Téléphone, email ou nom ...' />
            <input type='password' name="password" placeholder='Mot de passe' required />
            <button type='submit' class="btn-connectUp">Se connecter</button>
        </form>
        <a href="/signup"><button type='submit' class="btn-signup">S'inscrire</button></a>
    </div>
</div>