<div class='container'>
    <div class="side-left"></div>
    <div class="side-right">
        <img src="/images/logo.svg" alt='logo'/>
        <h3>Créer votre compte</h3>
        <form method='POST' action='/signup'>
            <div>
                <input type='text' name="name" placeholder='Prénom' />
                <input type='text' name="familyName" placeholder='Nom de famille' />
            </div>
            <input type="date" id="birthday" name="birthday" value="2020-01-01">
            <div class="box-radios">
                <div>
                    <input type="radio" name="masculin" class="GenderMasculin" value="Masculin" >
                    <label for="Masculin">Masculin</label>
                </div>
                <div>
                    <input type="radio" name="feminin"  class="GenderFeminin" value="Feminin">
                    <label for="Feminin">Féminin</label>
                </div>
            </div>
            <input type='text' name="username" placeholder="Nom d'utilisateur" />
            <input type='tel' name="tel"  placeholder='Votre téléphone' />
            <input type='text' name="city" placeholder='Ville' />
            <input type='email'name="email"  placeholder='Votre email' />
            <input type='password' name="password" name='password' placeholder='Mot de passe' />
            <input type='password' name="passwordCheck" name='passwordAgain'placeholder='Confirmer votre mot de passe' />

           <button type='submit' class="btn-signup">S'inscrire</button>
        </form>
           <a href="/login"><button type='submit' class="btn-connectUp">Se connecter</button></a>
    </div>
</div>