nav{
    /* background-color: red; */
    height: 96vh;
    width: 25%;
    padding: 1em;
    padding-top: 0;
    border-right: 1px solid rgba(172, 172, 172, 0.432);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav_container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo{
    height: 1.7rem;
}

.icon{
    height: 1.9rem;
}

.box-link{
    /* background-color: green; */
    display: flex;
    align-items: center;
    padding: 0.3em;
    width: 80%;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 4rem;
    padding: 0.5em;
}

.box-link h3{
    margin: 0;
    margin-left: 1em;
    margin-top: 0.3em;
    color: black;
}

.linkhover:hover{
    background-color: #E8F5FE;
    transition-duration: 0.3s;
    color: #1EA1F2;
}

.linkhover:hover h3{
    color: #1EA1F2;
}

.nav_container button{
    height: 3.3rem;
    width: 85%;
    border-radius: 3rem;
    font-size: 0.9em;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition-duration: 0.3s;
    color: #ffffff;
    background-color: #1EA1F2;
    border: none;  
    margin-top: 1.3em;
    font-size: 1em;
}

.nav_container button:hover{
    background-color: rgb(30, 139, 207);
}

.account{
    /* background-color: red; */
    height: 4%;
    padding: 1em;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    cursor: pointer;
}

.account:hover{
    background-color: #E8F5FE;
    transition-duration: 0.3s;
}

.img_profile{
    height: 3rem;
    border-radius: 100%;
}

.account-infos{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-left: 1em;
}

.account-infos h5, h6{
    margin: 0.3em;
    font-size: 0.8em;
}

.account-infos h6{
    color: grey;
    font-weight: 400;
}

.icon_arrow{
    height: 1rem;
    margin-left: 1em;
}