@import "../base/_reset.css";
@import "../base/_typography.css";
@import '../components/_nav.css';

.container{
    display: flex;
}


.tweetListContainer{
    /* background-color: green; */
    width: 40%;
    display: flex;
    flex-direction: column;
}

.heading{
    height: 8%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 1em;
    border-bottom: 1.3px solid rgba(172, 172, 172, 0.432);
}

.heading h1{
    margin: 0;
    font-size: 1.2em;
    font-weight: 900;
}


.boxSearch{
    /* background-color: red; */
    height: 100vh;
    width: 30%;
    border-left: 1.3px solid rgba(172, 172, 172, 0.432);
    padding-top: 2em;
    padding-left: 2em;
}

.box-suggestions{
    background-color: #F5F8FA;
    height: 30%;
    width: 80%;
    border-radius: 2rem;
}

.heading-suggestions{
    padding: 1em;
}